@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.small {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.3em;
}

.head {
    font-family: 'Roboto';
    font-weight: 400;
}

.back {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.backcell {
    width: 100%;
}

.vertical {
    display: flex;
    align-items: center;
}

.infotop {
    width: 300px;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.infotopcell {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fc5955;
    padding: 20px 0px;
}

.centercell {
    width: 100%;
    background-color: #fc5955;
    padding: 20px 0px;
}

.contact {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
}

.icon {
    padding: 0px 5px;
}

.image {
    width: 220px;
    height: 180px;
    background-size: 200px auto;
    background-position: 10px 20px;
    background-repeat: no-repeat;
}

.imagecell {
    width: 100%;
    height: 180px;
    background-size: 200px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.imageproject1 {background-image: url("./site1.png");}
.imageproject2 {background-image: url("./site2.png"); background-size: 120px auto; background-position: 50px 10px;}
.imageproject2cell {background-image: url("./site2.png"); background-size: 120px auto; background-position: center;}
.imageproject3 {background-image: url("./site3.png");}
.imageproject4 {background-image: url("./site4.png");}
.imageproject5 {background-image: url("./site5.png");}
.imageproject6 {background-image: url("./site6.png");}

.box {
    position: relative;
    margin: 20px 0px;
    width: 520px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 230px;
}

.boxcell {
    position: relative;
    margin: 20px 0px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 400px;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    width: 120px;
    cursor: pointer;
    background-color: #fc5955;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.buttoncell {
    width: 100px;
    cursor: pointer;
    background-color: #fc5955;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.text {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 280px;
    height: 120px;
}

.textcell {
    width: 90%;
    height: 120px;
    padding: 0px 20px;
}

.title {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

a {
    color: white;
    text-decoration: none;
}